body{
    font-family: Arial, sans-serif;
}
header{
    width: 100%;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 5000;
}
main{
    width: 100%;
    height: 100%;
}
@keyframes titlemove {
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
    }
}
@keyframes coming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
     from{
        opacity: 0;
         margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    float: left;
    animation: coming 2s ease;
}
.menu {
    float:left;
}
.menu li{
    float: left;
    line-height: 60px;
    color:#fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.menu li a{
    transition: all 0.1s;
    color: white;
    display: inline-block;
    transform: scale(1);
    text-decoration: none;
}
.menu li a:visited{
    color: white;   
}
.menu li a:hover{
    color: #e88604;    
}
.menu li a:active{
    transform: scale(1.1);
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
.main{
    width: 100%;
    height: 100%;
    background:url(../img/boy.png) no-repeat 98% 100%/auto 85%, url(../img/bg.jpg) center/cover no-repeat;
}
.title_container{
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    opacity: 0;
    animation: titlemove 1s ease forwards;
    animation-delay: 2.4s; 
}
.title_container h1{
    font-family: Arial, sans-serif;
    font-size: 72px;
    font-weight: 600;
    text-align: center;
}
.title_container h4{
    margin-top: 30px;
    font-size: 22px;
    color: #79818d;
    text-align: center;
}
.title_container input{
    transition: all 0.2s;
    transform: scale(1);
    width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    margin: 50px 14px 0px 14px;
    cursor: pointer;
}
.white-btn:visited{
    color: white;
}
.title_container input:hover{
    background: #344051;
    color: white;
}
.title_container input:active{
    transform: scale(1.1);
}
@media (max-width:991px){
    .title_container, .title_container h4, .title_container input{
        color: white;
        position: relative;
        z-index: 2;
        animation-delay: 1s;
        -webkit-text-stroke: 0.7px #2a3e51;
    }
    .main{
        position: relative;
    }
    .main:after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0,0.8);
        z-index: 10;
    }
    .title_container input:hover{
    background: #344051;
    color: white;
    }
}
.about{
    padding-bottom: 100px;
}
.about h2{
    text-align: center;
    font-size: 33px;
    text-transform: uppercase;
    color: #3f495a;
    margin-top: 100px;
}
.about hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 60px;
}
.about img{
    border: 5px;
}
.about p{
   font-size: 18px;
    text-align: center;
     color: #3f495a;
    margin-top: 25px;
}
.aknop{
    margin: 40px auto 0;
    font-size: 16px;
    background: url(../img/icon/downl.png) 2%/auto no-repeat;
    padding-left: 30px;
}
.ican{
    background-image: url(../img/bgican.jpg);
    padding-bottom: 95px;
}
.ican h2{
    font-size: 33px;
    text-align: center;
    padding-top: 100px;
    color: #3f495a;
}
.ican hr{
    width: 80px;
    height: 4px;
    background: #d17700;
    border: none;
}
.ican h3{
    color: #d17700;
}
.cases{
    color: #3f495a;
}
.cases h2{
    text-align: center;
    font-size: 33px;
    text-transform: uppercase;
    color: #3f495a;
    margin-top: 100px;
}
.cases hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 40px;
}
.casep{
    font-size: 16px;
    color: #38475a;
}
.casebut{
    color: white;
    background-color: #00b6af;
}
.casebut:visited{
    color: white;
}
.cost h2{
     text-align: center;
    font-size: 33px;
    text-transform: uppercase;
    color: #3f495a;
    margin-top: 100px;
}
.cost h3{
    font-size: 29px;
    color: #1c2534;
}
.fs{
    height: 59px;
    background-color: #efefef;
}
.calcres p{
    font-size: 20px;
    color: #1c2534;
}
.stat{
    background: url(../img/bgstat.jpg);
    background-attachment: fixed;
}
.stat h2{
    padding-top: 100px;
    padding-bottom: 5px;
    color: #1c2534;
}
.stat hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 90px;
}
.stat h3{
    font-size: 37px;
    color: #323e4f;
    font-weight: 800;
    text-align: center;
}
.stat p{
    margin-bottom: 100px;
}
.otz{
    padding-bottom: 150px;
}
.otz h2{
    font-size: 33px;
    padding-bottom: 5px;
    padding-top: 100px;
}
.otz hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin-bottom: 60px;
}
.otz p{
    font-size: 16px;
    color: #243042;
}
.cont{
     background: url(../img/bgcont.jpg);
     color: #fff;
}
.cont h2{
    font-size: 33px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-top: 100px;
}
.cont hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
}
.icont input{
    height: 35px;
    background: #cfd6dc; 
}
.mcon{
    background: #cfd6dc;
    height: 95px;
}